/* hero */
.main-slider-style-5 .slider-box-wrap {
  padding: 30px 100px;
}

.main-slider-content {
  position: absolute;
  padding: 100px;
  z-index: 9;
}

.main-slider-style-5 .main-slider-thumb {
  margin-left: 0;
}

.main-slider-style-5 .slider-box-wrap .slider-activation-two {
  padding: 30px;
}

.main-slider-style-5 .slider-box-wrap .single-slide {
  padding: 0;
  display: block;
}

.main-slider-style-5 .main-slider-thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slick-slide.slick-current .main-slider-content .title {
  color: white;
}

.main-slider-thumb {
  position: relative;
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.main-slider-style-5 .slider-box-wrap .axil-slick-dots .slick-dots {
  bottom: 50px;
  right: 60px;
}

.slick-dots {
  width: inherit;
}

.axil-submenu-header {
  cursor: auto;
  color: var(--color-secondary) !important;
}

.mainmenu > .menu-item-has-children .axil-submenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  min-width: 1110px;
  left: -312px;
}

.mainmenu > .menu-item-has-children .axil-submenu .axil-submenu-header {
  padding: 5px 15px;
  color: var(--color-secondary);
  font-weight: bold;
}

.mainmenu > .menu-item-has-children .axil-submenu ul {
  padding: 0;
}

.axil-product .thumbnail {
  padding: 0;
  border: 0;
}

.axil-product > .thumbnail > a img {
  height: 350px;
  object-fit: cover;
}

.activeCategory {
  color: var(--color-secondary) !important;
}

button.single-select {
  min-width: 255px;
  cursor: pointer;
  transition: 0.3s;
  height: 55px;
  padding: 0 30px;
  outline: none;
  color: var(--color-body);
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--color-border-light);
  border-radius: 6px;
}

.category-select .dropdown-menu ul,
li {
  list-style: none;
}

.category-select .dropdown-menu {
  min-width: 255px;
  overflow-y: scroll;
  height: 350px;
  text-transform: capitalize;
}

.category-select .dropdown-menu .axil-submenu-header {
  font-weight: bold;
}

.category-select .dropdown-menu a:hover {
  color: var(--color-secondary) !important;
}

#btn-dropdownCategory {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}

.ngx-pagination li.small-screen {
  display: none !important;
}

.ngx-pagination {
  display: flex;
  align-items: center;
  padding-left: 0px !important;
  margin-bottom: 0 !important;
}

.ngx-pagination .current,
.ngx-pagination a {
  background: var(--color-primary) !important;
  border: transparent !important;
  border-radius: 5px !important;
  width: 38px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ngx-pagination .pagination-next,
.ngx-pagination .pagination-previous {
  width: 38px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ngx-pagination .pagination-next a,
.ngx-pagination .pagination-previous a {
  margin-right: 0 !important;
}

.ngx-pagination a:hover {
  background: var(--color-primary);
}

.ngx-pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff !important;
  margin-right: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-next.disabled:after,
.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-previous.disabled:before {
  margin: 0 !important;
}

.hideItem {
  display: none;
}

.showItem {
  display: block;
}

.hideSlick {
  visibility: hidden;
  opacity: 0;
  /* display: none; */
}

.showSlick {
  visibility: visible;
  opacity: 0;

  /* display: block; */
}

.product-large-thumbnail-3,
.product-small-thumb-3 {
  transition: opacity 0.3s ease;
}

.activeSize {
  border-color: #656973 !important;
}

.available {
  font-weight: 600;
  color: #63ab01;
}

.sold {
  font-weight: 600;
  color: red;
}

.category-select .single-select {
  padding-right: 50px !important;
}
