.price {
  font-size: 20px !important;
  font-weight: bold;
  color: var(--color-dark);
}

.single-product-content .inner .product-title {
  margin-bottom: 10px;
}

.product-rating {
  font-weight: 600;
}

.product-meta li {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--color-dark);
}

.single-product-content .inner .product-variation .title,
.product-rating__title {
  color: grey !important;
  font-size: 16px;
  font-weight: bold !important;
}

.single-product-content .inner .product-meta {
  margin: 30px 0;
}

#myTab a {
  font-size: 18px;
  font-weight: bold;
}

.product-desc-wrapper p {
  color: black;
  padding: 5px;
}

.product-desc-wrapper__inner::ng-deep p,
#reviews p,
.product-desc-wrapper .reviews-wrapper {
  color: grey !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-left: 10px !important;
}

a.axil-btn.btn-bg-primary.background-disabled:before,
button.axil-btn.btn-bg-primary.background-disabled:before {
  background: grey !important;
}

a.axil-btn.btn-bg-primary.background-disabled,
button.axil-btn.btn-bg-primary.background-disabled {
  background: grey !important;
}
