<footer class="axil-footer-area footer-style-1 footer-dark">
  <!-- Start Footer Top Area  -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- Start Single Widget  -->
        <div class="col-md-3 col-sm-12">
          <div class="axil-footer-widget">
            <div class="logo mb--30">
              <a
                href="javascript:;"
                routerLink="/"
                style="font-size: 30px; line-height: 100%"
              >
                <!-- <img
                  class="light-logo"
                  src="assets/images/logo/logo1.jpg"
                  alt="Logo Images"
                /> -->
                Fragile
              </a>
            </div>
            <div class="inner">
              <p>
                Thị trấn Yên Mỹ <br />
                Huyện Yên Mỹ, <br />
                Tỉnh Hưng Yên.
              </p>
              <div class="social-share">
                <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                <!-- <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-md-3 col-sm-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Về chúng tôi</h5>
            <div class="inner">
              <ul>
                <li><a href="javascript:;">Giới Thiệu</a></li>
                <li><a href="javascript:;">Cửa Hàng</a></li>
                <li><a href="javascript:;">Tin Tức</a></li>
                <li><a href="javascript:;">Lookbook</a></li>
                <li><a href="javascript:;">Liên Hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-md-3 col-sm-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Tài Khoản</h5>
            <div class="inner">
              <ul>
                <li><a href="javascript:;">Giúp Đỡ</a></li>
                <li><a href="javascript:;">Giỏ Hàng</a></li>
                <li><a href="javascript:;">Đăng Nhập</a></li>
                <li><a href="javascript:;">Đăng Ký</a></li>
                <!-- <li><a href="shop.html">Shop</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-md-3 col-sm-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Hỗ Trợ</h5>
            <div class="inner">
              <ul>
                <li><a href="javascript:;">Chính Sách Bảo Mật</a></li>
                <li><a href="javascript:;">Điều Khoản Sử Dụng</a></li>
                <li><a href="javascript:;">Câu Hỏi Thường Gặp</a></li>
                <!-- <li><a href="contact.html">Contact</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
      </div>
    </div>
  </div>
  <!-- End Footer Top Area  -->
  <!-- Start Copyright Area  -->
  <div class="copyright-area copyright-default separator-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-12">
          <div
            class="copyright-left d-flex flex-wrap justify-content-xl-start justify-content-center"
          >
            <ul class="quick-link">
              <li><a href="javascript:;">Privacy Policy</a></li>
              <li><a href="javascript:;">Terms of Service</a></li>
            </ul>
            <ul class="quick-link">
              <li>
                © 2022. All rights reserved by
                <a target="_blank" href="https://www.facebook.com/longdang01/"
                  >Long Dang</a
                >.
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-xl-5 col-lg-12">
          <div
            class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center"
          >
            <span class="card-text">Accept For</span>
            <ul class="payment-icons-bottom quick-link">
              <li>
                <img
                  src="assets/images/icons/cart/cart-1.png"
                  alt="paypal cart"
                />
              </li>
              <li>
                <img
                  src="assets/images/icons/cart/cart-2.png"
                  alt="paypal cart"
                />
              </li>
              <li>
                <img
                  src="assets/images/icons/cart/cart-3.png"
                  alt="paypal cart"
                />
              </li>
              <li>
                <img
                  src="assets/images/icons/cart/cart-6.png"
                  alt="paypal cart"
                />
              </li>
              <li>
                <img
                  src="assets/images/icons/cart/cart-5.png"
                  alt="paypal cart"
                />
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- End Copyright Area  -->
</footer>
